# Git
.git
.gitignore
.github

# Python
*.pyc
__pycache__/
*.sqlite3

# Virtual Environment
portfolio-backend-env/

# Media and static files
media/
static/

# In backend, .env contains sensitive info
# It should not be build into the docker image. It should be read at runtime
.env
*.env
*.env.*